    
 <% if @eva_comm_thesis.errors.any? %>
         <div class="row">
            <div class="col-md-offset-2 col-sm-6 col-xs-12 ">
              <div class="alert alert-danger">
                <div class="card-content white-text">
                  <span class="card-title">Errores:</span>
                  <% @eva_comm_thesis.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      <%end%>

    <%= form_for(@eva_comm_thesis,  :html => {:class => 'form'}) do |f| %>
    
     <div class="row header" style="background-color: #1f4bae">
       <h1 class="center-align col-lg-12 text-center"><i class=""></i><b> Asignar Jurado Evaluador</b><i class=""></i>
       </h1>
      </div>

     <div class="row" style="margin-top: 30px">

     <%= f.hidden_field :thesis_id, :value => @thesis.id %>
     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 first">
     <div class="input-group2" style="width: 90%">
     <%= text_field_tag :titulo, @thesis.titulo , class: "form-control2", disabled: true %>
     <%= f.label :nombre, "Titulo de Tesis/TEG" %><br>

     </div>
     </div> 
     </div>
     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12" >        
     <div class="input-group2">
     <%= f.select "coordinador", options_for_select(@users3.collect { |u| [u.nombre, u.id] }, @eva_comm_thesis.coordinador), {}, {:class => "selectpicker form-control", 'data-live-search' => "true", :title => "Seleccione el Coordinador"} %>
     </div>
     </div>
     </div>

     </div>

     <div class="row" style="margin-top: 30px">


     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12 first" >
     <div class="input-group2" >
     <div class="col-md-9 col-sm-9 col-xs-12" style="padding-left:0px">
     <% principal_1 = User.find(@thesis.project.eva_comm_proj.principal_1) %>
     <%= text_field_tag :principal_1, principal_1.nombre , class: "form-control2", disabled: true %>
     <%= f.label :nombre, "Principal 1" %><br>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12" >
     <%= check_box_tag "collections[]", "principal1"  %>
     </div>

     </div>
     </div>
     </div>


     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12" >
     <div class="input-group2">
     <div class="col-md-9 col-sm-9 col-xs-12" style="padding-left:0px" >
     <% suplente_1 = User.find(@thesis.project.eva_comm_proj.suplente_1) %>
     <%= text_field_tag :suplente_1, suplente_1.nombre , class: "form-control2", disabled: true %>
     <%= f.label :nombre, "Suplente 1" %><br>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12" >
     <%= check_box_tag "collections[]", "suplente1"  %>
     </div>

     </div>
     </div>
     </div>

     </div>

     <div class="row" style="margin-top: 30px">

     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12 first" >
     <div class="input-group2">
     <div class="col-md-9 col-sm-9 col-xs-12"  style="padding-left:0px" >
     <% principal_2 = User.find(@thesis.project.eva_comm_proj.principal_2) %>
     <%= text_field_tag :principal_2, principal_2.nombre , class: "form-control2", disabled: true %>
     <%= f.label :nombre, "Principal 2" %><br>
     </div>
         
     <div class="col-md-3 col-sm-3 col-xs-12" >
     <%= check_box_tag "collections[]", "principal2"  %>
     </div>
     </div>
     </div>
     </div>

     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12" >
     <div class="input-group2">
     <div class="col-md-9 col-sm-9 col-xs-12" >

     <%= select_tag "suplente_2", options_for_select(@users3.collect { |u| [u.nombre, u.id] }), :class =>"selectpicker form-control", 'data-live-search' => "true", :title => "Seleccione evaluador Suplente 2 "  %>
     
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12" >
     <%= check_box_tag "collections[]", "suplente2"  %>
     </div>

     </div>
     </div>
     </div>


     </div>

     
      <div class="row" style="margin-top: 30px">

     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12 first " >
     <div class="input-group2">
     <div class="col-md-9 col-sm-9 col-xs-12"  style="padding-left:0px" >
     <% principal_3 = User.find(@thesis.project.eva_comm_proj.principal_3) %>
     <%= text_field_tag :principal_3, principal_3.nombre , class: "form-control2", disabled: true %>
     <%= f.label :nombre, "Principal 3" %><br>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12" >
     <%= check_box_tag "collections[]", "principal3"  %>
     </div>

     </div> 
     </div>
     </div>

     
     

    
     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12" >
     <div class="input-group2">
     <div class="col-md-9 col-sm-9 col-xs-12" >
     <%= select_tag "suplente_3", options_for_select(@users3.collect { |u| [u.nombre, u.id] }), :class =>"selectpicker form-control", 'data-live-search' => "true", :title => "Seleccione evaluador Suplente 3 "  %>
    
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12" >
     <%= check_box_tag "collections[]", "suplente3"  %>
     </div>

     </div>
     </div>
     </div>

     </div>




     <div class="row" style="margin-top: 50px;">


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12  text-center" >
     <div class="input-group2">
      <div class="col-md-6 col-sm-6 col-xs-6" >
       <%= link_to eva_comm_theses_path, class: "btn btn-warning", style:"width: 100px;" do %>
     <span class="fa fa-reply"></span> Atras    
     <% end %>
     </div>
     <div class="col-md-6 col-sm-6 col-xs-6" >
     <%= button_to "offers_path", class: "btn btn-primary ", style:"width: 100px;" do %>
     <span class="fa fa-floppy-o"></span> Guardar    
     <% end %>
     </div>
     </div>
     </div> 
     </div> 


     </div>

     <% end %>
     <br><br>
    


