<%= form_for(offer_user) do |f| %>
  <% if offer_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer_user.errors.count, "error") %> prohibited this offer_user from being saved:</h2>

      <ul>
      <% offer_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :offer_id %>
    <%= f.text_field :offer_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
