<p id="notice"><%= notice %></p>

<h1>Listing Type Req Resps</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_req_resps.each do |type_req_resp| %>
      <tr>
        <td><%= type_req_resp.descripcion %></td>
        <td><%= link_to 'Show', type_req_resp %></td>
        <td><%= link_to 'Edit', edit_type_req_resp_path(type_req_resp) %></td>
        <td><%= link_to 'Destroy', type_req_resp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type req resp', new_type_req_resp_path %>
