

<%= form_for(@postgraduate_coordination) do |f| %>
  <% if @postgraduate_coordination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postgraduate_coordination.errors.count, "error") %> prohibited this postgraduate_coordination from being saved:</h2>

      <ul>
      <% @postgraduate_coordination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   


  <div class="row header" style="background-color: #1f4bae">
     <h1 class="center-align col-lg-12 text-center"><b> Actualizar Coordinacion </b></h1>
  </div>


<div class="row container" style="margin-top: 30px">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">         
           <div class="input-group2">
            <%= f.label :descripcion %>
            <br>
            <br>
            <%= f.text_area :descripcion ,class: "form-control" %>
           </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">         
           <div class="input-group2">
           <%= f.label :mision %><br><br>
           <%= f.text_area :mision , class: "form-control"%>
           </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="input-group2">         
                <%= f.label :vision %><br><br>
                <%= f.text_area :vision ,class: "form-control"
                 %>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="input-group2">         
          <%= f.label :direccion %><br><br>
          <%= f.text_area :direccion , class: "form-control"%>
           </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row" style="margin-bottom: 60px;">
        <div class="form-group col-md-2 col-md-offset-1" style="margin-top: 30px;">
          <%= link_to postgraduate_coordinations_path, class: "btn btn-warning", style:"width: 100px;" do %>
            <span class="fa fa-reply"></span> Atras    
          <% end %>
        </div>
        <div class="form-group col-md-2 col-md-offset-1" style="margin-top: 30px;">
          <%= button_to postgraduate_coordinations_path, class: "btn btn-primary ", style:"width: 100px;" do %>
            <span class="fa fa-floppy-o"></span> Guardar    
          <% end %>
        </div>
      </div>
  </div>
<% end %>






<!-- 

<%= link_to 'Show', @postgraduate_coordination %> |
<%= link_to 'Back', postgraduate_coordinations_path %>
-->