<div class="row form-group" style="margin-top:40px">
    <div class="col-md-6 col-md-offset-2">

<p id="notice"><%= notice %></p>


  <div class="row header" style="background-color: #1f4bae">
     <h1 class="center-align col-lg-12 text-center"><b> Coordinacion de Postgrado </b></h1>
  </div>


<div class="row container" style="margin-top: 30px">
 <div class="col-md-12 text-center">
      
      <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">         
           <div class="input-group2">


                   <p>
                   <strong>Descripcion:</strong>
                   <%= @postgraduate_coordination.descripcion %>
                   </p>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">         
           <div class="input-group2">


                   <p>
                   <strong>Mision:</strong>
                   <%= @postgraduate_coordination.mision %>
                   </p>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">         
           <div class="input-group2">


                   <p>
                   <strong>Vsion:</strong>
                   <%= @postgraduate_coordination.vision %>
                   </p>

            </div>
          </div>
        </div>
      </div>


                      

     <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">         
           <div class="input-group2">


                   <p>
                   <strong>Direccion:</strong>
                   <%= @postgraduate_coordination.direccion %>
                   </p>

            </div>
          </div>
        </div>
      </div>

            
                   
     <div class="row">
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">    


        <%= link_to 'EDITAR', edit_postgraduate_coordination_path(1) ,class: "btn btn-info" %>
               

               </div>
                </div>
                 </div>

      

</div>

</div>

 <br>

            
  




<!-- email  inf -->

<br>


<br>

         
          
<!-- email  inf -->


     
           