 <% if @program_calification.calification.nil? %>
<%= simple_form_for(@program_calification) do |f| %>

    <div class="row header" style="background-color: #1f4bae;">
      <h1 class="center-align col-lg-12 text-center"><b> Califica el programa:
        <strong><%= Program.find(@program_calification.program_id).titulo %></strong></b></h1>
    </div>

    <div class="container" style=" margin-top: 50px;">

      <div class="row">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="input-group2">
              <%= f.label :calification, "Calificación" %>
              <br>
              <br>
              <%= select_tag(:calification, options_for_select([['1 estrella', 1],
                                                          ['2 estrellas', 2],['3 estrellas', 3],['4 estrellas', 4],['5 estrellas', 5]], selected: :calification,class: "selectpicker form-control",
                                                         'data-live-search'=>"true", "title"=>"Seleccione un Programa" )) %>
            </div>
          </div>
        </div>
      </div>
<br>
<br>
<br>

      <div class="row">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="input-group2">
              <%= f.text_field :comment, class: "form-control2" %>
              <%= f.label :comment, "Comentario" %><br>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
        <div class="col-md-2 col-md-offset-1" >
          <%= button_to "", class: "btn btn-primary ", style:"width: 100px;" do %>
              <span class="fa fa-thumbs-o-up"></span> Calificar
          <% end %>
        </div>
      </div>

      <div class="form-actions">

      </div>

    </div>




<% end %>
<% else %>
    <div class="row header" style="background-color: #1f4bae;">
      <h1 class="center-align col-lg-12 text-center"><b>¡Disculpe, usted ya ha evaluado este programa!</b></h1>
    </div>
     <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
       <div class="col-md-2 col-md-offset-1" >
         <%= button_to "/", class: "btn btn-primary ", style:"width: 100px;" do %>
             <span class="fa fa-floppy-o"></span> Volver
         <% end %>
       </div>
     </div>
<% end %>
