
<% if notice %>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue">
          <div class="card-content white-text">
            <span class="card-title">Noticia</span>
            <p id="notice"><%= notice %></p>
          </div>
        </div>
      </div>
    </div>
<%end%>

<div class="row z-depth-2" style="margin-top:20px;">


  <div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
    <div class="row header" style="background-color: #1f4bae;">
      <h1 class="center-align col-lg-12 text-center"><b> Tesis/TEG </b></h1>
    </div>
    <div class="text-center">
      <%= link_to  "/registrartheses" , {class:"btn btn-success", style: "margin: 25px auto;" } do%>
      <i class="fa fa-plus"></i> Registrar Tesis
      <%end %>
    </div>

     <% if current_user.role.descripcion == "Coordinador de Programa" %>
          <% @theses = Array.new  %>
          <% if current_user.program %> 
            <% if current_user.program.cohort_program.each do |p| %> 
              <% p.users.each do |u| %>
                <% if u.thesis.present?   %>
                  <% @theses.push(u.thesis) %>
              
                <%end %> 
              <% end %>
            <% end %> 
          <% end %>
        <% end %>
      <% end %>

    <table id="tabla_vp" class="table table-hover text-center">
      <thead>
      <tr>
        <th class="text-center">Titulo</th>
        <th class="text-center">Participante</th>
        <th class="text-center">Programa</th>
        <th  class="text-center" colspan="3">Acción</th>
      </tr>
      </thead>
      <tbody class="searchable">

      <% if @theses%>
            <% @theses.each do |thesis| %>
              <tr>
                <td><%= thesis.titulo %></td>
                <td><%= thesis.user.nombre %></td>
                <td><%= thesis.user.cohort_program.program.titulo%></td>


                <td><%= link_to thesis,class: "btn btn-primary" do %>
                      <i class="fa fa-search" aria-hidden="true"></i>
                    <% end %>
                </td>
                <td><%= link_to edit_thesis_path(thesis),class: "btn btn-info" do %>
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <% end %>
                </td>
                
              </tr>
            <% end %>
            <% end %>
          </tbody>
    </table>
  </div>
</div>



<script type="text/javascript">
  $('#filter').keyup(function () {

    var rex = new RegExp($(this).val(), 'i');
    $('.searchable tr').hide();
    $('.searchable tr').filter(function () {
      return rex.test($(this).text());
    }).show();

  });
</script>
<style type="text/css">
  form{
    background-color:transparent !important;
    box-shadow: none !important;
  }
</style>


