    <%= form_for(@objecto, :html => {:class => 'form'}) do |f| %>

    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    

     <div class="row header" style="background-color: #1f4bae">
     <h1 class="center-align col-lg-12 text-center"><b> Editar Parametro </b></h1>
     </div>

     <div class="row" style="margin-top: 30px">


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 first">
     <div class="input-group2" style="width: 90%">
     <%= f.text_field :descripcion, class: "form-control2" %>
    <%= f.label :descripcion %><br>
     </div>
     </div> 
     </div>

     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 30px;" >        
     <div class="input-group2">
     <%= f.button  class:"btn btn-primary" do %>
      <span class="fa fa-floppy-o"></span> Guardar
     <% end %>
     </div>
     </div>
     </div>


     </div>


     <% end %>
    






































































































