<p id="notice"><%= notice %></p>

<h1>Listing Funcions</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Id padre</th>
      <th>Estatus</th>
      <th>Url</th>
      <th>Id funcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcions.each do |funcion| %>
      <tr>
        <td><%= funcion.descripcion %></td>
        <td><%= funcion.id_padre %></td>
        <td><%= funcion.estatus %></td>
        <td><%= funcion.url %></td>
        <td><%= funcion.id_funcion %></td>
        <td><%= link_to 'Show', funcion %></td>
        <td><%= link_to 'Edit', edit_funcion_path(funcion) %></td>
        <td><%= link_to 'Destroy', funcion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcion', new_funcion_path %>
