
<% if @program.errors.any? %>
<div class="row">
  <div class="col-md-offset-2 col-sm-6 col-xs-12 ">
    <div class="alert alert-danger">
      <div class="card-content white-text">
        <span class="card-title">Errores:</span>
        <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%end%>
<%= form_for(@program, :html => {:class => 'form'}) do |f| %>

    <div class="row header" style="background-color: #1f4bae">
        <h1 class="center-align col-lg-12 text-center"></i><b> Editar Programa </b></h1>
    </div>
<div class="row" style="margin-top: 30px;">

  <div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12 " >
      <div class="input-group2" style="width: 90%">
        <%= f.text_area :titulo, class: "form-control2" %>
        <%= f.label :titulo, "Titulo" %><br>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 " >
      <div class="input-group2">
        <%= select_tag "user_id", options_for_select(@users.collect{ |u| [u.nombre, u.id]}, @program.user.id),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione un Coordinador" %>
        <%= label_tag :user_id, "Coordinador", class: "labelfijo" %><br>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 " >
      <div class="input-group2">
        <%= f.text_field :grado_egresado, class: "form-control2" %>
        <%= f.label :grado_egresado, "Grado Egresado" %><br>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 " >
      <div class="input-group2">
        <%= f.text_field :regimen_study_id, value: @program.regimen_study.descripcion, class: "form-control2", disabled: true %>
        <%= label_tag :regimen_study_id, "Régimen de Estudio" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 " >
      <div class="input-group2">
        <%= f.text_field :duracion, value: @program.duracion , class: "form-control2", disabled: true %>
        <%= label_tag :duracion, "Duración" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 " >
      <div class="input-group2" style="margin-top:40px">
        <%= select_tag "modality_id", options_for_select(@modality.collect{ |u| [u.descripcion, u.id]}, @program.modality.id),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Modalidad" %>
        <%= label_tag :modality_id, "Modalidad", class: "labelfijo" %><br>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12" >
      <div class="input-group2" style="margin-top:30px">
          <%= label_tag :descripcion, "Imagen" , class: "labelfijo" %><br>
          <img src="<%= @program.avatar %>" class="fs-img-avatar col-md-offset-3">
      </div>
    </div> 
  </div>

  <div class="form-group">
    <div class="col-md-12 col-sm-6 col-xs-12 " style="margin-top:40px">
      <div class="input-group2" style="width: 90%" >
        <%= f.text_area :descripcion, class: "form-control2" %>
        <%= f.label :descripcion, "Descripción" %><br>
      </div>
    </div>
  </div>
</div>

        
        <div class="row" style=" margin-top:10px;">
            <h1 class="center-align col-lg-12 text-center"><b>Seleccione los Recaudos</b></h1>
        </div>
        <div class="container">
            <div class="row" style="margin-top:50px;">
              <% @collections.each do |collection| %>
                <div class="col-md-4 text-left" id="idRecaudos" style="margin-top:20px;">
                  <%= check_box_tag "collections[]", collection.id, @program.collections.include?(collection) %> <%= collection.descripcion %>
                </div>
              <% end %>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-2 col-md-offset-2" >
              <%= link_to programs_path, class: "btn btn-warning", style:"width: 100px;" do %>
                <span class="fa fa-reply"></span> Atras    
              <% end %>
            </div>
            <div class="col-md-2 col-md-offset-3" >
              <%= button_to "", class: "btn btn-primary ", style:"width: 100px;" do %>
                <span class="fa fa-floppy-o"></span> Guardar    
              <% end %>
            </div>
        </div>
    </div>
    <br>
    <br>
<% end %>
     <style type="text/css">
        .container {
            width: auto !important;
        }
        textarea {
            height: 100px !important;
        }
     </style>


     