<% if @cohort.errors.any? %>
         <div class="row">
            <div class="col-md-offset-2 col-sm-6 col-xs-12 ">
              <div class="alert alert-danger">
                <div class="card-content white-text">
                  <span class="card-title">Errores:</span>
                  <% @cohort.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      <%end%>
<%= form_for(@cohort, :html=> {:class => 'form'}) do |f| %>


   <div class="row header" style="padding-left: 0px; padding-right: 0px; background-color: #1f4bae">
     <h1 class=" col-lg-12 text-center"></i><b> Asignarsfgsfdgsd Recursos a oferta </b></h1>
     
     

  </div>  
     <div class="container" style="width: 100%">

         <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-12">         
         <div class="input-group2">
         <%= f.label :program_id, "Programas" %>
         <br>
         <br>
         <%= select_tag "program_id", options_for_select(@programs.collect{ |u| [u.titulo, u.id]}),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione un Programa" %>
         </div>
         </div>

           <div class="col-md-6 col-sm-6 col-xs-12">         
         <div class="input-group2" >
         <%= f.label :oferta_id, "Oferta" %>
         <br>
         <br>
       <%= select_tag(:oferta_id, options_for_select([['IA 2017', 1], ['Redes 2017', 2], ['Doctorado en Matematica', 3]]),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Oferta") %>

         </div>
         </div>
     </div>


     <% (1..2).each do |i| %>
     <div class="row">
           <div class="form"  style="margin-left:auto; margin-right:auto; display: table;; width: 90%;">
         <div class="input-group2" >

           <%= "Semestre "+ i.to_s  %><br>
           </div>
                <div class="row" id="aqui">
                <div id="materia" class="col-md-6">
           <%= select_tag "subject_id", options_for_select(@subjects.collect{ |u| [u.descripcion, u.id]}),class: " selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Materia" %>
           </div>
           <div id="profe" class="col-md-6">
           <%= select_tag "user_id", options_for_select(@users.collect{ |u| [u.username, u.id]}),class: " selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione un Profesor" %>
          </div>
          </div>
  <div class="col-md-11 col-md-offset-1  " style="margin-top: 10px; margin-bottom: 5px;">
        <input type='button' value='Añadir' id='add_production'  class="btn btn-primary "/>
      </div>

     </div>
     </div>  
    
<% end %>
 
    <div class="row" style="margin-bottom: 30px;">
      <div class="form-group">

      <div class="col-md-2 col-md-offset-3" >
        <%= link_to cohorts_path, class: "btn btn-warning", style:"width: 100px;" do %>
          <span class="fa fa-reply"></span> Atras    
        <% end %>
      </div>
       <div class="col-md-2 col-md-offset-1" >
        <%= button_to "", class: "btn btn-primary ", style:"width: 100px;" do %>
            <span class="fa fa-floppy-o"></span> Guardar
        <% end %>
      </div>
    </div>
    </div>
    </div>
<% end %>
<style type="text/css">
  .col-centered{
display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
</style>
 <script type="text/javascript">
$(document).ready(function(){
 $('#add_production').click(function(){
 $('#aqui').append('<div style="margin-top:5px" id="materia" class="col-md-6"><div  ><div class="btn-group bootstrap-select form-control"><button role="button" data-toggle="dropdown" class="btn dropdown-toggle bs-placeholder btn-default" type="button" data-id="subject_id" title="Seleccione una Materia"><span class="filter-option pull-left">Seleccione una Materia</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div role="combobox" class="dropdown-menu open"><div class="bs-searchbox"><input type="text" aria-label="Search" role="textbox" autocomplete="off" class="form-control"></div><ul aria-expanded="false" role="listbox" class="dropdown-menu inner"><li data-original-index="1"><a role="option" data-tokens="null" class="" tabindex="0" aria-disabled="false" aria-selected="false"><span class="text">Seminario</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select title="Seleccione una Materia" data-live-search="true" class="selectpicker form-control" id="subject_id" name="subject_id" tabindex="-98"><option class="bs-title-option" value="">Seleccione una Materia</option><option value="1">Seminario</option></select></div></div></div><div style="margin-top:5px" id="profesor" class="col-md-6"><div  ><div class="btn-group bootstrap-select form-control"><button title="Seleccione un Profesor" data-id="user_id" type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button"><span class="filter-option pull-left">Seleccione un Profesor</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><div class="bs-searchbox"><input class="form-control" autocomplete="off" role="textbox" aria-label="Search" type="text"></div><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"></ul></div><select tabindex="-98" name="user_id" id="user_id" class="selectpicker form-control" data-live-search="true" title="Seleccione un Profesor"><option value="" class="bs-title-option">Seleccione un Profesor</option></select></div></div></div> ');
   });
  });
 </script>