<%= form_for(@sch_per_u) do |f| %>
  <% if @sch_per_u.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sch_per_u.errors.count, "error") %> prohibited this sch_per_u from being saved:</h2>

      <ul>
      <% @sch_per_u.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :coh_per_sub_u_id %><br>
    <%= f.text_field :coh_per_sub_u_id %>
  </div>
  <div class="field">
    <%= f.label :nota %><br>
    <%= f.text_field :nota %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
