<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre de Usuario:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Correo Electronico:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>cedula:</strong>
  <%= @user.cedula %>
</p>


<p>
  <strong>Direccion:</strong>
  <%= @user.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.sexo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @user.fecha_nacimiento %>
</p>

<p>
  <strong>Estado Civil:</strong>
  <%= @user.estado_civil %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @user.rol %>
</p>


<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<%# link_to 'Edit', edit_postulate_path(@postulate) %> |
<%# link_to 'Back', postulates_path %>
