<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @result.descripcion %>
</p>

<p>
  <strong>Thesis:</strong>
  <%= @result.thesis %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
