<p id="notice"><%= notice %></p>

<h1>Survey Response Questions</h1>

<table>
  <thead>
    <tr>
      <th>Survey response</th>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_response_questions.each do |survey_response_question| %>
      <tr>
        <td><%= survey_response_question.survey_response %></td>
        <td><%= survey_response_question.question %></td>
        <td><%= survey_response_question.answer %></td>
        <td><%= link_to 'Show', survey_response_question %></td>
        <td><%= link_to 'Edit', edit_survey_response_question_path(survey_response_question) %></td>
        <td><%= link_to 'Destroy', survey_response_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey Response Question', new_survey_response_question_path %>
