
 <% if @news.errors.any? %>
    <div class="row">
            <div class="col-md-offset-2 col-sm-6 col-xs-12 ">
              <div class="alert alert-danger">
                <div class="card-content white-text">
                  <span class="card-title">Errores:</span>
                  <% @news.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <%end%>

     <%= form_for(@news,  :html => {:class => 'form'}) do |f| %>
   
     <div class="row header" style="background-color: #1f4bae">
     <h1 class="center-align col-lg-12 text-center"><b> Nueva Noticia </b></h1>
     </div>

     <div class="row"  >


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 first">
     <div class="input-group2" style="width: 90%">
     <%= f.text_field :titulo, class: "form-control2"%>
     <%= f.label :titulo, "Titulo" %><br>

     </div>
     </div> 
     </div>

     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="input-group2" style="width: 90%">
     <%= f.text_area :descripcion, class: "form-control2"%>
     <%= f.label :descripcion, "Descripción" %><br><br>
     </div>
     </div>
     </div>

     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12" >
     <div class="input-group2">
     <div class="btn btn-primary btn-file " style="width: 100px; margin-top:10px; ">
     <i class="fa fa-file-image-o"></i> 
     Imagen  <%= f.file_field :avatar%>
     </div>
     </div>
     </div> 
     </div>

   

     <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12" >
     <div class="input-group2">
     <%= select_tag :dirigido, options_for_select([["Todos", 1], ["Coordinadores", 2], ["Profesores", 3], ["Participantes", 4], ["Cohorte", 5], ["Linea de Investigación", 6], ["Area de Interes", 7]]), 'data-live-search'=>"true", class: "selectpicker form-control", "title"=>"Dirigida a:" %>
     </div>
     </div> 
     </div>

    

     </div>


<div class="row" style="margin-top: 30px;">


<div class="form-group">
<div class="col-md-6 col-sm-6 col-xs-12 first"  id="divcohort" hidden="true">
<div class="input-group2">

<%= select_tag "cohort_id", options_for_select(@cohorts.collect{ |u| [u.descripcion, u.id]}),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Cohorte"%>
 
</div>
</div>
</div>

<div class="form-group">
<div class="col-md-6 col-sm-6 col-xs-12" id="divlineainvestigation" hidden="true">
<div class="input-group2">

<%= select_tag "line_investigation_id", options_for_select(@line_investigations.collect{ |u| [u.descripcion, u.id]}),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Linea"%>

</div>
</div>
</div>


<div class="form-group">
<div class="col-md-6 col-sm-6 col-xs-12" id="divarea" hidden="true">
<div class="input-group2">

<%= select_tag "area_interest_id", options_for_select(@area_interests.collect{ |u| [u.descripcion, u.id]}),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Area de Interes"%>

</div>
</div>
</div>

<div class="form-group">
<div class="col-md-6 col-sm-6 col-xs-12" id="divsubject" hidden="true">
<div class="input-group2">

<%= select_tag "subject_id", options_for_select(@subjects.collect{ |u| [u.descripcion, u.id]}),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Materia"%>

</div>
</div>
</div>


</div>




     <div class="row" style="margin-top: 50px;">


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12  text-center" >
     <div class="input-group2">
      <div class="col-md-6 col-sm-6 col-xs-6" >
     <%= link_to '/news', class: "btn btn-warning", style:"width: 100px;" do %>
     <span class="fa fa-reply"></span> Atras    
     <% end %>
     </div>
     <div class="col-md-6 col-sm-6 col-xs-6" >
     <%= button_to "offers_path", class: "btn btn-primary ", style:"width: 100px;" do %>
     <span class="fa fa-floppy-o"></span> Guardar    
     <% end %>
     </div>
     </div>
     </div> 
     </div> 


     </div>

     <% end %>
     <br><br>