<p id="notice"><%= notice %></p>

<p>
  <strong>Desde:</strong>
  <%= @block.desde %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @block.hasta %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
