




<div class="form">

<div class="row header" style="background-color: #1f4bae;">
<h1 class="center-align col-lg-12 text-center"><b>Encuesta para la Web</b></h1>
</div>

<%= form_for(@poll, url: "/agregar" ) do |f| %>

<div class="row" style="margin-top: 30px">


<div class="form-group">
<div class="col-md-8 col-sm-8 col-xs-12 first" style="margin-left:60px !important";>
<div class="input-group2" style="width: 90%">
<%= select_tag "poll_id", options_for_select(@polls.collect{ |u| [u.descripcion, u.id]}),class: "selectpicker form-control", 'data-live-search'=>"true", "title"=>"Seleccione una Encuesta" %>

</div>
</div> 
</div>

<div class="form-group">
<div class="col-md-3 col-sm-3 col-xs-12" >        
<div class="input-group2">
<%= button_to "", class: "btn btn-primary ", style:"width: 100px;" do %>
<span class="fa fa-floppy-o"></span> Agregar    
<% end %>
</div>
</div>
</div>

</div>
<% end %>


<div class="row" style="margin-top: 30px">

<div class="row" >
<h2 class="center-align col-lg-12 text-center"><b> Listado de Encuestas</b></h2>
</div>


<div class="row z-depth-2" style="margin-top:20px;">


    <div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
     
    



        <table id="tabla_vp" class="table table-hover text-center">
          <thead>
            <tr>
              <th class="text-center">Titulo</th>
              <th class="text-center">Tipo</th>
              <th class="text-center">Preguntas</th>
            </tr>
          </thead>
        
        <tbody>
          <% @polls.each do |poll| %>
          <% if poll.estatus == 'activado' %>
            <tr>
              <td><%= poll.descripcion %></td>
              <td><%= poll.type_poll.descripcion %></td>
              <td class="text-left">
                <% poll.questions.each do |q| %>
                  <ul>
                    <li><%= q.descripcion%></li>
                  </ul>
                <% end%>
              </td>
            </tr>
            <% end %>
          <% end %>



        </tbody>

        </table>

    </div>

</div>




  

</div>


  
</div>

