<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @poll.descripcion %>
</p>

<p>
  <strong>Type poll:</strong>
  <%= @poll.type_poll %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
