<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @postulate.offer %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @postulate.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @postulate.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @postulate.telefono %>
</p>

<%= link_to 'Edit', edit_postulate_path(@postulate) %> |
<%= link_to 'Back', postulates_path %>
