

    <div class="row z-depth-2" style="margin-top:20px;">


    <div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
     <div class="row header" style="background-color: #1f4bae;">
     <h1 class="center-align col-lg-12 text-center"></i><b>Materias</b></h1>
    </div>
    <div class="text-center">
      <%= link_to  new_subject_path, {class:"btn btn-success", style: "margin: 25px auto;" } do%>
      <i class="fa fa-plus"></i> Registrar Materia
      <% end %>
    </div>
        <table id="tabla_vp" class="table table-hover text-center">
          <thead>
            <tr>
              <th class="text-center">Descripción</th>
              <th class="text-center">Unidades de Credito</th>
              <th class="text-center">Tipo de Materia</th>
              <th  class="text-center" colspan="2">Acción</th>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.descripcion %></td>
                <td><%= subject.unidades_credito %></td>
                <td><%= subject.type_subject.descripcion %></td>
                <td><%= link_to edit_subject_path(subject),class: "btn btn-info" do %>
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>   
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <style type="text/css">
  form{
    background-color:transparent !important; 
    box-shadow: none !important;
  }
</style>