<%= form_for(type_contact) do |f| %>
  <% if type_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_contact.errors.count, "error") %> prohibited this type_contact from being saved:</h2>

      <ul>
      <% type_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
