<%= form_for(@classroom_laboratory_schedule) do |f| %>
  <% if @classroom_laboratory_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom_laboratory_schedule.errors.count, "error") %> prohibited this classroom_laboratory_schedule from being saved:</h2>

      <ul>
      <% @classroom_laboratory_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :classroom_laboratory_id %><br>
    <%= f.text_field :classroom_laboratory_id %>
  </div>
  <div class="field">
    <%= f.label :schedule_id %><br>
    <%= f.text_field :schedule_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
