<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @keyword.descripcion %>
</p>

<p>
  <strong>Thesis:</strong>
  <%= @keyword.thesis %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
