
     
     <%= form_for(@role_funcion,:html => {:class => 'form'}) do |f| %>
     <% if @role_funcion.errors.any? %>
     <div id="error_explanation">
     <h2><%= pluralize(@role_funcion.errors.count, "error") %> prohibited this role_funcion from being saved:</h2>

     <ul>
     <% @role_funcion.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
     </ul>
     </div>
     <% end %>
     
     <div class="row header" style="background-color: #1f4bae">
     <h1 class="center-align col-lg-12 text-center"><b> Optimizar Registros </b></h1>
     </div>

     <div class="row" style="margin-top: 30px">


      <div class="row">
        <h2 class="center-align col-lg-12 text-center"><b>Marque Los Registros a Optimizar</b></h2>
      </div>


       
       <% @funcions.each do |funcion| %>
          <div class="col-md-4 text-left" id="idRecaudos">
            <%= check_box_tag "funcions[]", funcion.id %> <%= funcion.descripcion %>
          </div>
        <% end %>
  
     </div>

     

    



     <div class="row" style="margin-top: 50px;">


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12  text-center" >
     <div class="input-group2">
      <div class="col-md-6 col-sm-6 col-xs-6" >
         <%= link_to role_funcions_path, class: "btn btn-warning", style:"width: 100px;" do %>
     <span class="fa fa-reply"></span> Atras    
     <% end %>
     </div>
     <div class="col-md-6 col-sm-6 col-xs-6" >
     <%= button_to "offers_path", class: "btn btn-primary ", style:"width: 100px;" do %>
     <span class="fa fa-floppy-o"></span> Guardar    
     <% end %>
     </div>
     </div>
     </div> 
     </div> 


     </div>

     <% end %>
    


