<p id="notice"><%= notice %></p>

<h1>Listing Postulate Collections</h1>

<table>
  <thead>
    <tr>
      <th>Postulate</th>
      <th>Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postulate_collections.each do |postulate_collection| %>
      <tr>
        <td><%= postulate_collection.postulate %></td>
        <td><%= postulate_collection.collection %></td>
        <td><%= link_to 'Show', postulate_collection %></td>
        <td><%= link_to 'Edit', edit_postulate_collection_path(postulate_collection) %></td>
        <td><%= link_to 'Destroy', postulate_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postulate collection', new_postulate_collection_path %>
