<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @city.descripcion %>
</p>

<p>
  <strong>Estados:</strong>
  <%= @city.estado %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
   