<%= form_for(sub_per_user) do |f| %>
  <% if sub_per_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_per_user.errors.count, "error") %> :</h2>

      <ul>
      <% sub_per_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <div class="row header" style="background-color: #1f4bae;"">
     <h1 class="center-align col-lg-12 text-center"><b> Resultado </b></h1>
     </div>


<div class="container" style=" margin-top: 50px;">
  
  <div class="row">
    <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12"> 
     <div class="input-group2"> 
        <label for="select_a">Participante
        <select name="select_a" id="select_a" class="form-control">
          <option value="">-- Selecione --</option>
          <option value="vl-a-1">Alfredo Valbuena 1</option>
          <option value="vl-a-2">Ricardo Garmendia</option>
          <option value="vl-a-3">Michelle</option>
          <option value="vl-a-4">karla</option>
        </select>
      </div>
   </div>
  </div>
</div>
<br><br><br><br>


  <div class="row">
    <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12"> 
     <div class="input-group2"> 
        <label for="select_a">Cohorte
        <select name="select_a" id="select_a" class="form-control">
          <option value="">-- Selecione --</option>
          <option value="vl-a-1"></option>
          <option value="vl-a-2"></option>
          <option value="vl-a-3"></option>
          <option value="vl-a-4"></option>
        </select>
      </div>
   </div>
  </div>
</div>
<br><br><br><br>


<div class="row">
    <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12"> 
     <div class="input-group2"> 
        <label for="select_a">Periodo
        <select name="select_a" id="select_a" class="form-control">
          <option value="">-- Selecione --</option>
          <option value="vl-a-1">2015</option>
          <option value="vl-a-2">2016</option>
          <option value="vl-a-3">2017</option>
        </select>
      </div>
   </div>
  </div>
</div>
<br><br><br><br>
<div class="row">
    <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12"> 
     <div class="input-group2"> 
        <label for="select_a">Materia
        <select name="select_a" id="select_a" class="form-control">
          <option value="">-- Selecione --</option>
          <option value="vl-a-1">seminario</option>
          <option value="vl-a-2">SI</option>
          <option value="vl-a-3">evaluacion y control</option>
        </select>
      </div>
   </div>
  </div>
</div>

<br><br><br><br>
<div class="row">
    <div class="form-group">
     <div class="col-md-6 col-sm-6 col-xs-12"> 
     <div class="input-group2"> 
       <%= f.label :nota, "Nota"%><br><br>
          <%= f.text_field :nota, class: "form-control" %>
      </div>
   </div>
  </div>
</div>


   
    
    <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
      <div class="col-md-2 col-md-offset-1" >
        <%= link_to offers_path, class: "btn btn-warning", style:"width: 100px;" do %>
          <span class="fa fa-reply"></span> Atras    
        <% end %>
      </div>
      <div class="col-md-2 col-md-offset-1" >
        <%= button_to "", class: "btn btn-primary ", style:"width: 100px;" do %>
          <span class="fa fa-floppy-o"></span> Guardar    
        <% end %>
      </div>
      </div>
    </div>
<br><br><br><br>
     <% end %>
<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="../js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../js/locales/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>
<script >
  $('.form_date').datetimepicker({
        language:  'es',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse:0,
    clearBtn: true,
    format: 'dd-mm-yyyy'
    });
 
  

  
</script>

<style>
  .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td{
    padding: 7px;
    }
.datetimepicker td, .datetimepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0;
}
</style>







