<%= form_for(@question_poll) do |f| %>
  <% if @question_poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_poll.errors.count, "error") %> prohibited this question_poll from being saved:</h2>

      <ul>
      <% @question_poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :poll_id %><br>
    <%= f.text_field :poll_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
