    <%= form_for(@area_interest,:html => {:class => 'form'}) do |f| %>
    <% if @area_interest.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@area_interest.errors.count, "error") %> prohibited this area_interest from being saved:</h2>

     <ul>
     <% @area_interest.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
     </ul>
     </div>
     <% end %>

     <div class="row header" style="background-color: #1f4bae">
     <h1 class="center-align col-lg-12 text-center"><b> Nueva Area de Interes  </b></h1>
     </div>

     <%= f.text_field :line_investigation_id, value: @line_investigation.id ,hidden: true  %>
     <div class="row" style="margin-top: 30px">


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 first">
     <div class="input-group2" style="width: 90%">
     <%= f.text_field :nombre, value: @line_investigation.descripcion , class: "form-control2", disabled: true %>
     <%= f.label :nombre, "Linea de Investigacion" %><br>

     </div>
     </div> 
     </div>


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 first">
     <div class="input-group2" style="width: 90%">
     <%= f.text_field :descripcion , class: "form-control2"%>
      <%= f.label :descripcion, "Area de Interes" %><br>
     </div>
     </div> 
     </div>

     <div class="row" style="margin-top: 50px;">


     <div class="form-group">
     <div class="col-md-12 col-sm-12 col-xs-12  text-center" >
     <div class="input-group2">
      <div class="col-md-6 col-sm-6 col-xs-6" >
    <%= link_to area_interests_path(id: @line_investigation.id), class: "btn btn-warning", style:"width: 100px;" do %>
            <span class="fa fa-reply"></span> Atras    
          <% end %>
     </div>
     <div class="col-md-6 col-sm-6 col-xs-6" >
     <%= button_to "offers_path", class: "btn btn-primary ", style:"width: 100px;" do %>
     <span class="fa fa-floppy-o"></span> Guardar    
     <% end %>
     </div>
     </div>
     </div> 
     </div> 


     </div>

     <% end %>
    


