<p id="notice"><%= notice %></p>

<p>
  <strong>Area interest:</strong>
  <%= @user_area_interest.area_interest %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_area_interest.user %>
</p>

<%= link_to 'Edit', edit_user_area_interest_path(@user_area_interest) %> |
<%= link_to 'Back', user_area_interests_path %>
